<h2>To-Do List</h2>

<form (submit)="onSubmit()">
  <div>
    <label for="to-do-title">Title: </label>
    <input type="text" id="to-do-title" [(ngModel)]="toDoItem.title" name="to-do-title">
  </div>
  <div>
    <label for="to-do-content">Content: </label>
    <input type="text" id="to-do-content" [(ngModel)]="toDoItem.content" name="to-do-content">
  </div>
  <input type="submit" value="Create">
</form>

<div>
  <input type="text" (change)="search($event)" (keyup)="search($event)" placeholder="Search box - type your keywords here">
</div>

<ul>
  <li *ngFor="let item of searchResults; index as id">
    <div>
      <span>Title: </span>
      <span>{{ item.title }}</span>
    </div>
    <!--
    <div *ngFor="let subItem of item.subItems">
      <span>Title: </span>
      <span>{{ subItem.title }}</span>
    </div>
    -->
    <div>
      <span>Content: </span>
      <span>{{ item.content }}</span>
    </div>
    <div>
      <span>Created at: </span>
      <span>{{ item.createdAt | date:'medium' }}</span>
    </div>
    <div>
      <button type="button" (click)="deleteToDoItem(item, id)">Delete</button>
    </div>
  </li>
</ul>